<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../adminDashboard.css" type="text/css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div>
                    <div class="logo"></div>
                    <h2>Dashboard</h2>
                </div>
                <div class="logout">logout</div>
            </nav>
        </header>
        <div class="main">
            <div class="sidebar">
                <div class="all-status">Status</div>
                <div class="status">Pending</div>
                <div class="status">Ongoing</div>
                <div class="status">Solved</div>
            </div>
            <div class="queries-menu">
                <div class="heading">
                    <div class="selected-status">Pending</div>
                </div>
                <div class="all-queries">
                    <div class="null hidden">No Queries</div>
                </div>
            </div>
        </div>

    </div>
    <script src="../scripts/adminDashboard.js"></script>
</body>
</html>